{% extends "layout.html" %}
{% block content %}
    {% for post in data %}
        <article class="media content-section">
          <div class="media-body">
              <div style="background-color:black;color:white;padding:20px;">

            <h2><a class="article-title">{{ post.title }}</a></h2>
            <a class="mr-2" >{{ post.source }}</a>
                  <p class="article-date">{{ post.date }}</p>
            <p class="article-content">{{ post.description }}</p>
             <p><a href = "{{post.url}}" >Link to the article</a></p><
              </div>
              </div>
        </article>
    {% endfor %}
{% endblock content %}